body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
img {
  height: 100%;
  width: 100%;

}

form {
  padding-left: 35px;
  margin-top: -130px;
}

.container {
  box-sizing:border-box;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.top {
  background-color: #A6A6A6;
  border-bottom: 1px solid black;
  height: 50px;

}

.middle {
height: 700px;
}

.leftside {
  background-color: #F2F2F2;
  height: 700px;
  width: 49%;
  margin: 0px;
  float: left;
}

.trackbin {
  /*border: 1px solid black;*/
  line-height: 200px;
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;

}

.trackbin p {
  color: purple;
  text-align: center;
  font-size: 50px;
  float: none;
  margin: -30px;
}

.button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #333;
  color: white;
  padding: 5px;
  height: 50px;
  width: 180px;
  margin: auto;
}

.button p {
  /*font-size: 25px;*/
  margin-top: -75px;
}

.rightside {
  position: relative;
  height: 700px;
  width: 50%;
  float: right;
  margin: 0px;
}

.trackpic {
  opacity: .19;
}

.topalbum {
position: absolute;
top: 25px;
left: 32%;
border: 1px solid black;
height: 200px;
width: 200px;

}
.middlealbum {
  position: absolute;
  top: 250px;
  left: 32%;
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.bottomalbum {
  position: absolute;
  top: 475px;
  left: 32%;
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.bottom {
background-color: #A6A6A6;
border-top: 1px solid black;
height: 60px;
margin-bottom: 0px;
padding-bottom: 15px;
}
